html, body {
  background: #4bbeff !important;
  margin: 0;
  padding: 0;
  border: 10px solid red;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
}

/* Judul Besar */
.title {
    font-size: 90px;
    letter-spacing: 10px;
    margin: 0;
}

/* Subtitle */
.subtitle {
    color: white;
    font-size: 20px;
}

/* Tombol */
.btn {
    padding: 12px 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}
.logo {
  width: 200px;      /* atur sesuai kebutuhan */
  height: auto;
  display: block;
  margin: 0 auto;    /* biar center */
}
