body {
  background-color: #4bbeff;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Judul Besar */
.title {
    font-size: 90px;
    letter-spacing: 10px;
    margin: 0;
}

/* Subtitle */
.subtitle {
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Tombol */
.btn {
    padding: 12px 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}
